{%extends "base.html"%}
{%block content%}
<h1>Welcome!</h1>
</p>This application will provide an estimate of the length of a human limb.  It may be used to estimate the full length of the amputated limb of a patient. </p>
<br>
<br>

<h2>To Estimate Length of a Lower Limb</h2>

<p> You need to provide the following measurements of the patients body, all in millimeters</p>
<ul>
<li>Chest Height</li>
<li>Waist Length</li>
<li>Gender: use the codes "0" for a female, and "1" for a male patient</li>

<li>Age: rounded up to the next year</li>

<li>Hand 1: length of the patient's hand, from wrist to tip of middle finger</li>

<li>Hand 2:  hand widest circumference</li>

<li>Forearm 1: length of forearm, from elbow to wrist</li>

<li>Forearm 2: forearm widest circumference</li>

<li>Arm 1: length of arm, from shoulder to elbow</li>

<li>Arm 2: arm circumference, just below the shoulder</li>

</ul>

<br><br><br>
<h2>To Estimate Length of a Upper Limb</h2>

<p> You need to provide the following measurements of the patients body, all in millimeters</p>
<ul>
<li>Chest Height</li>
<li>Waist Length</li>
<li>Gender: use the codes "0" for a female, and "1" for a male patient</li>

<li>Age: rounded up to the next year</li>

<li>Foot1: length of the patient's foot , from ankle to tip of middle finger</li>

<li>Foot 2:  foot widest circumference</li>

<li>Foreleg 1: length of foreleg, from ankle to knee</li>

<li>Foreleg 2: foreleg widest circumference</li>

<li>Thigh 1: length of thigh , from knee to hip</li>

<li>Thigh 2: thigh circumference, just below the hip</li>

</ul>

{%endblock%}
