{%extends "base.html"%}
<title>Lower Limb Form</title>
{%block content%}
<form action="{{url_for("lowerlimb")}}" method="post">
{{form.hidden_tag()}}

{{form.shoulder_height.label}}:
{{form.shoulder_height(placeholder="In Millimeters")}}
{%for error in form.shoulder_height.errors%}
{{error}}
{%endfor%}
<br>
<br>
{{form.chest_height.label}}:
{{form.chest_height(placeholder="In Millimeters")}}
{%for error in form.chest_height.errors%}
{{error}}
{%endfor%}
<br>
<br>
{{form.waist_length.label}}:
{{form.waist_length(placeholder="In millimeters")}}
{%for error in form.waist_length.errors%}
{{error}}
{%endfor%}
<br>
<br>
{{form.gender.label}}:
{{form.gender(placeholder="0 for female 1 for male")}}
{%for error in form.gender.errors%}
{{error}}
{%endfor%}
<br>
<br>
{{form.age.label}}:
{{form.age(placeholder="Round up ")}}
{%for error in form.age.errors%}
{{error}}
{%endfor%}
<br>
<br>
{{form.hand1.label}}: 
{{form.hand1(placeholder="In Millimeters")}}
{%for error in form.hand1.errors%}
{{error}}
{%endfor%}
<br>
<br>
{{form.hand2.label}}:
{{form.hand2(placeholder="In Millimeters")}}
{%for error in form.hand2.errors%}
{{error}}
{%endfor%}
<br>
<br>
{{form.forearm1.label}}:
{{form.forearm1(placeholder="In Millimeters")}}
{%for error in form.forearm1.errors%}
{{error}}
{%endfor%}
<br>
<br>
{{form.forearm2.label}}:
{{form.forearm2(placeholder="In Millimeters")}}
{%for error in form.forearm2.errors%}
{{error}}
{%endfor%}
<br>
<br>
{{form.arm1.label}}:
{{form.arm1(placeholder="In Millimeters")}}
{%for error in form.arm1.errors%}
{{error}}
{%endfor%}
<br>
<br>
{{form.arm2.label}}:
{{form.arm2(placeholder="In Millimeters")}}
{%for error in form.arm2.errors%}
{{error}}
{%endfor%}
<br>
<br>
<br>
{{form.submit}}

</form>

{%endblock%}
